<html>
<head>
    <title>$title</title>
    <link rel="stylesheet" href="http://aui-cdn.atlassian.com/aui-adg/5.9.12/css/aui.min.css" media="all">
    $webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-form-notification")
    $webResourceManager.requireResourcesForContext("versioncontrol-resources")
    <meta name="decorator" content="atl.general">
    <script>
AJS.toInit(function() {
   jQuery.ajax('/jira/rest/api/2/project', {
        dataType : 'json',
    }).done(function(res){
        var projSelect =jQuery('#projects');
       jQuery.each(res, function(idx, item){
            projSelect.append('<option value="' + item.id +'">' + item.name + '</option>');
        });
        //projSelect.auiSelect2();
    });

    // Hides the dialog
   jQuery("#dialog-close-button").click(function(e) {
        e.preventDefault();
        AJS.dialog2("#demo-dialog").hide();
       jQuery("#action").val("");
    });

    // Hides the dialog
   jQuery("#dialog-submit-button").click(function(e) {
        e.preventDefault();
        AJS.dialog2("#demo-dialog").hide();
       jQuery("#admin").submit();
    });
});

// Shows the dialog when an action button is clicked
function dialog(action){
    var valid = true;
    if(!AJS.$("#versions").val()){
        valid = false;
        //AJS.$("#versions").prop("data-aui-notification-field");
       jQuery("#versions-error").text("Please select a value");
    }
    else{
       jQuery("#versions-error").text("");
    }
    if(!AJS.$("#projects").val()){
        valid = false;
       jQuery("#projects-error").text("Please select a value");
    }
    else{
       jQuery("#projects-error").text("");
    }
    if(valid){
       jQuery('#affected-count').html("");
        if(action == "delete"){
            getAffectedIssueCount();
        }

        var template =jQuery("#confirm-message-text").val();
        var pos = template.indexOf("*");
        var message = template.substr(0, pos) + "<b>" + action + "</b>" + template.substr(pos+1);

       jQuery("#confirm-message").html(message);

        AJS.dialog2("#demo-dialog").show();
       jQuery("#action").val(action);
    }
}

//get the number of issues affected by the deletion of the selected versions
function getAffectedIssueCount(){
    var count = 0;
    var affected =jQuery('#affected-count');
    affected.html('<br><h3>Affected Issues:</h3><p>Please resolve these conflicts through the tool that is activated when you manually delete a version in a project if you wish to re-map the version data in those issues.</p>');
    var selectedVersions = getSelectValues(AJS.$("#versions"), "text");
    var selectedProjects = getSelectValues(AJS.$("#projects"), "value");
    var selectedProjectsLabels = getSelectValues(AJS.$("#projects"), "text");
    var projectMap = {};
    var projectHeadingList = {};

    selectedProjects.forEach(function (k, i) {
        projectMap[k] = selectedProjectsLabels[i];
    });

    var projectVersions = getProjectVersions(selectedProjects);

    if(!projectVersions){
        affected.html("<br>No issues will be affected");
        return;
    }

    generateProjectHeadings(affected, projectMap);

    //for each selected version
   jQuery.each(selectedVersions, function(idx, version){
        //find the corresponding versions in projects
        var affectedVersionCopies = projectVersions.filter(function( obj ) {
          return obj.name == version;
        });
        //for each corresponding version in projects, get affected issues
       jQuery.each(affectedVersionCopies, function(idx, affectedVersion){
           jQuery.ajax('/jira/rest/api/2/version/'+affectedVersion.id+'/relatedIssueCounts', {
                dataType : 'json',
                async : false,
            }).done(function(res){
                var issuesAffected = res.issuesFixedCount + res.issuesAffectedCount;
                if(issuesAffected > 0){
                    projectHeadingList = affected.find("#"+affectedVersion.projectId).find("ul");
                    projectHeadingList.append("<li>Version <b>"+affectedVersion.name+"</b> is used <b>"+ issuesAffected +"</b> times in issues.</li>");
                    count++;
                }
            });
        });
    });
    if(count == 0){
        affected.html("<br>No issues will be affected");
    }
    else {
        cleanUpProjectHeadings(affected, projectMap);
    }
}

//generate project heading structure for every selected project
function generateProjectHeadings(el, map){
   jQuery.each(map, function(id, name){
        el.append("<br><div id='"+id+"'><h4>"+name+"</h4><ul></ul></div>");
    });
}

//remove the project headings that do no have any content
function cleanUpProjectHeadings(el, map){
   jQuery.each(map, function(id, name){
        var headingDiv = el.find("#"+id);
        if(headingDiv.find("ul").is(':empty')){
            headingDiv.html("");
        }
    });
}

//get list of versions for the specified projects
function getProjectVersions(selectedProjects){
    var projectVersions = [];
   jQuery.each(selectedProjects, function(idx, project){
       jQuery.ajax('/jira/rest/api/2/project/'+project+'/versions', {
            dataType : 'json',
            async: false
        }).done(function(res){
            projectVersions = projectVersions.concat(res);
        });
    });
    return projectVersions;
}

//get the selected values of a select list
function getSelectValues(selectElement, valueSelector) {
  var result = [];
  var options = selectElement && selectElement[0].options;
  var opt;

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
        if(valueSelector == "text"){
          result.push(opt.text);
        }
        else if(valueSelector == "value"){
          result.push(opt.value);
        }
    }
  }
  return result;
}
    </script>
    <style>
        .resizable {
            resize: both;
            overflow: auto;
        }
    </style>
</head>
<body class="aui-page-focused aui-page-size-large">
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>$title</h1>
        </div>
    </div>
</header>
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <div class="aui-page-panel-content">
            <form id="admin" class="aui" action="versioncontrol" method="post">
                <fieldset>
                    <p>
                        <b>Description:</b><br>
                        $description<br>
                    </p>
                    <div class="field-group">
                        <label>Project: <span class="aui-icon icon-required"></span></label>
                        <select data-aui-notification-field data-container-class="project-ss" class="select resizable" id="projects" name="projects" size="5" multiple>
                        </select>
                        <div class="error" id="projects-error"></div>
                    </div>
                    <div class="field-group">
                        <label>Versions: <span class="aui-icon icon-required"></span></label>
                        <select data-aui-notification-field data-container-class="versions-ss" class="select resizable" id="versions" name="versions" size="5" multiple>
                            #if($versions)
                                #foreach($version in $versions)
                                    <option value="$version.getId()">$version.getName()</option>
                                #end
                            #end
                        </select>
                        <div class="error" id="versions-error"></div>
                    </div>
                    <div class="buttons-container">
                        <input type="hidden" id="action" name="action" value="">
                        <input type="button" id="button-add" class="aui-button aui-button-primary" onclick="dialog('add')" value="Add">
                        <input type="button" id="button-archive" class="aui-button" onclick="dialog('archive')" value="Archive">
                        <input type="button" id="button-unarchive" class="aui-button" onclick="dialog('unarchive')" value="Unarchive" >
                        <input type="button" id="button-delete" class="aui-button" onclick="dialog('delete')" value="Delete">
                        <a id="button-cancel" class="aui-button aui-button-link" href="/jira/secure/project/ViewProjects.jspa">Cancel</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
#if ($errors && $errors.size()>0)
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <aside class="aui-page-panel-sidebar">
            #foreach($error in $errors)
            <div class="aui-message $error.getType()">
                <p class="title">
                    <strong>$error.getText()</strong>
                </p>
            </div>
            #end
        </aside>
    </div>
</div>
#end
<!-- Render the dialog -->
<section role="dialog" id="demo-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <!-- Dialog header -->
    <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h2 class="aui-dialog2-header-main">$confirm_action</h2>
        <!-- Close icon -->
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content">
        <input type="hidden" id="confirm-message-text" value="$confirm_message">
        <p id="confirm-message"></p>
        <div id="affected-count"></div>
    </div>
    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
            <button id="dialog-submit-button" class="aui-button aui-button-primary">OK</button>
            <button id="dialog-close-button" class="aui-button aui-button-link">Close</button>
        </div>
    </footer>
</section>
</body>
</html>